version: "3"
services:
  postgres:
    image: postgres:13.10
    restart: always
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: ./backend/
    restart: always
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/backend_static
      - media:/app/media

  frontend:
    image: ./frontend/
    restart: always
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static

  gateway:
    image: ./nginx/
    restart: always
    env_file: .env
    depends_on:
      - backend
      - frontend
    ports:
      - 80:80
    volumes:
      - static:/static/
      - media:/media

volumes:
  pg_data:
  static:
  media:
